@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

:root {
  --spacing-column: 20px;
}

.wrapper {
  @apply mx-auto w-full lg:max-w-4xl md:max-w-3xl;
}
